[buildout]
extends = https://dist.plone.org/release/5.2-latest/versions.cfg
show-picked-versions = true
extensions =
    mr.developer
find-links +=
    https://dist.plone.org/release/5.2-latest
parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    collective.mustread [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/collective
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-ignore = C812, Q000, Q002, S001, W503
flake8-max-complexity = 15
return-status-codes = True


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.mustread', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of collective.mustread
collective.mustread =

PyYAML = 5.1.2
SQLAlchemy = 1.3.11
argh = 0.26.2
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
flake8-blind-except = 0.1.1
flake8-coding = 1.3.2
flake8-commas = 2.0.0
flake8-debugger = 3.2.1
flake8-deprecated = 1.3
flake8-isort = 2.7.0
flake8-pep3101 = 1.2.1
flake8-plone-api = 1.4
flake8-plone-hasattr = 0.2.post0
flake8-print = 3.1.4
flake8-quotes = 2.1.1
flake8-string-format = 0.2.3
flake8-todo = 0.7
isort = 4.3.21
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.9.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.40

# Required by:
# flake8==3.7.9
configparser = 4.0.2

# Required by:
# flake8-isort==2.7.0
testfixtures = 6.10.3

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.7
